@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);:root,[data-bs-theme=light]
/* Basic styles for the body */
body {
  /* font-family: 'Times New Roman', Times, serif; */

    color: #333;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* Style for the main headings */
h1 {
    color: #485785;
    font-size: 2.5rem;
    text-align: center;
}
p{
  font-size: 1.5rem;
  /* text-align: center; */
}

/* Style for links */
a {
    color: #3A466A;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}

/* Specific styling for error page */
.error {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

/* Neumorphism navbar effect */
.navbar {
    background-color: #f0f5fa;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
  }
  
  .nav-link {
    color: #007BFF;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #0056b3;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }

  .btn {
    background-color: #f0f5fa;
    /*botton color*/
    color: #007BFF;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    padding: 0.75rem 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    box-shadow: inset 5px 5px 15px rgba(55, 94, 148, 0.3), inset -5px -5px 15px rgba(255, 255, 255, 0.8);
  }
 
  
  .jumbotron {
    animation: fadeIn 2s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
